.player {
    border: 3px solid black;
    background-color: beige;

    width: 25%;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.play-pause {
    display: none;
}

.active {
    display: block;
}

.active svg path {
    fill: #df1469;
}

/*simpler play button*/
.simple-button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 37px 0 37px 60px;
}
.simple-button.paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
}
.simple-button:hover {
    border-color: transparent transparent transparent #404040;
}

/*svg play button*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);

.ytp-button {
   outline: none;
   border: 0px solid;
   background: none;
}

.ytp-play-button {
   fill: rgb(29, 26, 26);
   opacity: 0.85;
}

.ytp-play-button:hover {
   cursor: pointer;
   opacity: 1;
}

/*another one play btn*/
.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box, .play{
  width: 74px;
  height: 74px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 37px 0px 37px 74px;
  border-color: transparent transparent transparent steelblue;
  transition: all 100ms ease-in-out;
}

.pause{
  border-style: double;
  border-width:0px 0px 0px 60px;
}